# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../springCsrf\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\spring Security\springCsrf\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
